*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.idea/
*.log
*.hprof
.kotlin/
app/build/
build/
.cxx/
*.jks
*.keystore
local.properties
*.orig
*.swp
*~

keystore.properties
*.keystore
release.keystore
